.dashboardData{
  margin-left: 90px;
}

.dashborad_right {
  background-color: rgb(236, 236, 245);
}

.dashborad_right_header {
  margin: auto;
  width: 60%;
  border: 3px solid #73ad21;
  padding: 10px;
}
.dashborad_right_table {
  margin-top: 20px;
  background-color: white;
  height: 455px;
  overflow: scroll;
}

.dashborad_right_menu {
  height: 55px;
}

.dashborad_right_menu_item {
  
  background-color: white;
}
.divSticky{
  position: sticky;
  top: 0px;
  margin: 1px;
  background-color: rgb(236, 236, 245);
}