.noticeUpload {
  margin-top: 30px;
  width: 300px;
}

.upload-section {
  display: flex;
  height: 200px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.divSticky{
  position: sticky;
  top: 0px;
  margin: 1px;
  background-color: rgb(228, 228, 228);
}