.dashboardData {
  margin-left: 90px;
}

.dashborad_right_menu_item {
  background-color: white;
  height: 55px;
}

.dashborad_right_table {
  margin-top: 20px;
  background-color: white;
  height: 455px;
  overflow: scroll;
}



.tdcolors {
  background-color: rgb(230, 230, 230);
}
.noticeUpload {
  width: 300px;
  margin-top: 30px;
}
.drop-zone {
  width: 500px;
}
.upload-section {
  display: flex;
  height: 200px;
  margin-bottom: 10px;
  margin-left: 20%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.divSticky {
  position: sticky;
  top: 0px;
  margin: 1px;
  background-color: rgb(228, 228, 228);
}
.main {
  height: 500px;
  margin-left: 35%;
}
.drop {
  width: 100%;
  height: 100%;
  border: solid white;
  background-color: white;
}
