.userLogin {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/lg.svg");
}

.login-container {
  min-width: 400px;
  border-radius: 0px;
}

.login-card {
  margin-top: 120px;
  border: none;
  overflow: hidden;
  opacity: 1;
  z-index: 0;
  box-sizing: border-box;
  background-color: #e6e6e6;
}


.login-head {
  margin-top: 30px;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 700;
  background-color: #6C63FF;
  color: transparent;
  background-clip: text;
}

.login-icon {
  position: relative;
  display: block;
  left: -87px;
  top: 30px;
  color: rgb(255, 255, 255);
}

.login-button {
  width: 250px;
  border-radius: 0px;
  background-color: #6C63FF;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.login-input {
  width: 220px;
  padding: 10px;
  padding-left: 40px;
  border-radius: 0px;
  background-color: #6C63FF;
  color: #fff;
  border: none;
  display: block;
}

.login-input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.login-input:focus {
  border: none;
  outline: none;
}

.login-check_1 {
  font-weight: 500;
  color: rgb(85, 85, 85);
  margin: 15px auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  .login-container {
    max-width: 100%;
  }
  .login-card {
    box-shadow: none;
  }
  .userLogin {
    background-color: #fff;
  }
  
}