.usersignup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/lg.svg");
  height: 580px;;

}

.signup-spacing {
  margin-top: 25px;
}
.signup-spacing1 {
  margin-top: 25px;
}
.signup-radio label {
  margin-left: 0.5 rem;
}

.signup-container {
  

  margin-top: 90px;
  min-width: 300px;
  border-radius: 0px;
}


.signup-card {
  border: none;
  overflow: hidden;
  opacity: 1;
  z-index: 0;
  box-sizing: border-box;
  background-color: #e6e6e6;
  width: 400px;
  background-repeat: no-repeat;
  background-position: bottom;
  /* background-image: url("../../../assets/lg.svg"); */
}

.signup-head {
  font-size: 20px;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    #6C63FF,
    #6C63FF
  );
  color: transparent;
  background-clip: text;
}
.signup-icon {
  position: relative;
  display: block;
  left: -100px;
  top: 31px;
  color: rgb(255, 255, 255);
  padding-right: 1em;
}

.drop {
  width: 80%;
  height: 150%;
  border: solid rgb(35, 141, 255);
  background-color: #7d76f1;
  text-align-last: center;
  font-weight: bold;
  color: #fff;
}

.drop option {
  border-radius: 0px;
  text-align-last: center;
  font-weight: bold;
  background-color: white;
  color:#6C63FF;
}

.signup-button {
  width: 250px;
  margin-top: 5px;
  background-image: linear-gradient(
    to right,
    #7d76f1,
    #7d76f1
  );
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.signup-input {
  width: 250px;
  padding: 10px;
  padding-left: 40px;
  background-image: linear-gradient(
    to right,
    #7d76f1,
    #7d76f1
  );
  color: #fff;
  border: none;
  display: block;
}

.signup-input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.signup-input:focus {
  border: none;
  outline: none;
}

.signup-check_1 {
  font-weight: 500;
  color: rgb(85, 85, 85);
  margin: 15px auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  .signup-container {
    max-width: 100%;
  }
  .signup-card {
    box-shadow: none;
  }
  .usersignup {
    background-color: #fff;
  }
}


.col{
  padding: 0;
}