.home-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
}

.home-left-view {
  height: 89vh;
  margin-top: 70px;
  width: 20%;
  position: fixed;
  margin-right: 65%;
}

.home-middle-view {
  margin-top: 70px;
  width: 40%;
}

.home-right-view {
  border-radius: 5px;
  height: 70vh;
  margin-top: 75px;
  width: 20%;
  overflow: scroll;
  overflow-x: hidden;
  position: fixed;
  margin-left: 65%;
  background-color: white;
}

.home-right-view::-webkit-scrollbar {
  display: none;
}

.notice-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 50px;
  border: none;
  font-size: large;
  background-color: #F7F7F7;
}
