.forumBody {
  margin-top: 10px;
}
.forum-question-voteUp {
  margin-bottom: 10px;
}

.forum-question-voteDowb {
  margin-top: 10px;
}

.fa-arrow-circle-up {
  color: green !important;
  cursor: pointer;
}

.fa-arrow-circle-down {
  color: rgb(202, 26, 26) !important;
  cursor: pointer;
}

.forum-question-voteCountUp {
  color: rgb(101, 192, 48);
}

.forum-QuestionImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forum-QuestionImage > img {
  width: 500px;
  height: 400px;
}

.forum-question-voteCountDown {
  color: red;
}

.forum-tagsContainer {
  margin-top: 5px;
  float: right;
}

.forumShowMoreAns {
  margin-bottom: 10px;
}
.forumShowMoreAns:hover {
  cursor: pointer;
}
.forum-questionAction {
  border-bottom: 1px solid gainsboro;
  height: 30px;
}

.forum-questionAction-answer:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.forum-questionAction-saveAnswer:hover {
  background-color: #dddddd;
  cursor: pointer;
}
.btn:focus,
a:focus {
  outline: none;
}

.forumAnswer {
  background-color: #dddddd;
}
textarea {
  resize: none;
}
.forum-AnswerReply {
  margin-left: 10%;
  background-color: #dddddd;
}

.replyInputWrapper{
  margin-left: 15%;
}

.forum-replyButton {
  margin-left: 10%;
}

.forum-replyButton:hover {
  cursor: pointer;
}
/* .ForumQuestionDocument{
  color: red !important;
  font: 150% bold;
} */
#validatedCustomFile.custom-file-input{
  color: black !important;
  border: 2px yellowgreen;
}


.forum-question-submit-button {
  color: whitesmoke;
  border: #6c63ff solid 1px;
  background-color: #6c63ff;
  width: 25%;
  font: 150% bold;
}
.forum-question-submit-button:hover {
  box-shadow: 7px 7px 7px rgba(0, 88, 139, 0.4);
  background-color: #124fc2;
  transform: translateY(-2px);
  color: whitesmoke !important;
}
.ForumLabel{
  margin-top: 10px;
}

.forum-question-drop {
  /* width: 103%; */
  height: 100%;
  border: solid #6c63ff 1px;
  background-color: white;
  text-align-last: center;
  font-weight: bold;
}
.forum-question-drop:focus{

  /* outline: none !important; */
  box-shadow: 0 0 0px black;
  outline-color: black;
}