.card-img-postedBy {
  width: 100%;
  height: 100%;
}
.card-action {
  float: right;
}
.post-card-header {
  background-color: white;
  padding-top: 0.25rem;
  padding-bottom: 0px;
}

.home-card {
  border-radius: 10px;
}

.card-img-postedByIcon {
  width: 85%;
  height: 65%;
  border-radius: 50%;
}

.card-img-postedImg {
  width: 40px;
  height: 40px;
}

.left-profileDescription {
  margin-top: 10px;
}

.left-card-profileCard {
  border-radius: 5px;
  background-color: #f7f7f7;
  height: 70px;
  border-bottom: 1px solid #dad2d2;
}

.left-card-ProfileIcon {
  margin-top: 20px;
  margin-left: 33%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.left-card-profileDes {
  margin-top: 20px;
}

.card-postedByName {
  font-size: 15px;
  margin-right: 0;
  margin-left: 0px;
  margin-bottom: 0;
}

.card-postedByDesignation {
  font-size: 13px;
  margin-right: 2px;
}

.card-postedByDept {
  font-size: 13px;
}

.Column {
  padding-right: 0;
  padding-left: 0.25rem;
}

.row-name {
  margin-left: 2px;
  margin-right: 2px;
}

.card-body {
  padding-top: 0;
}

/* .user-notice-drop-area {
  border: 2px dotted rgb(116, 116, 116);
} */

.user-notice-drop-area:hover {
  cursor: pointer;
}

.UserHome-custom-file-label {
  border: #6c63ff solid 1px;
  color: black;
}
.UserHome-custom-file-label:hover {
  border: orange dotted 1px;
  color: red;
}
.UserHome-modal-button {
  color: whitesmoke;
  border: #6c63ff solid 1px;
  background-color: #6c63ff;
  width: 50%;
  font: 150% bold;
}
.UserHome-modal-button:hover {
  color: whitesmoke;
  box-shadow: 7px 7px 7px rgba(0, 88, 139, 0.4);
  background-color: #6c63ff;
  transform: translateY(-2px);
  width: 50%;
  font: 150% bold;
}
.UserHome-example-input {
  border: none;
  color: black;
  height: 70px;
}
.UserHome-example-input:focus {
  border: none;
  outline-color: white;
  outline-width: 0 !important;
}

.UserHome-example-label {
  font: 150% bold;
}

.UserHome-TextBoxLikeButton {
  color: rgb(124, 124, 124);
  background-color: #e6e6e6;
  width: 100%;
  font: 100%;
  text-align: left;
  border-radius: 20px;
  height: 40px;
  padding-left: 15px;
}
.UserHome-TextBoxLikeButton:hover {
  cursor: text;
}
.UserHome-TextBoxLikeButton:focus {
  box-shadow: 0px 0px;
}
