.card-img-postedBy {
  width: 100%;
  height: 100%;
}
.card-action {
  float: right;
}
.post-card-header {
  background-color: white;
  padding-top: 0.25rem;
  padding-bottom: 0px;
}

.home-card {
  margin-bottom: 15px;
}

.card-img-postedByIcon {
  width: 85%;
  height: 65%;
  border-radius: 50%;
}

.comment-user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.card-img-postedImg {
  width: 40px;
  height: 40px;
}

.left-profileDescription {
  margin-top: 10px;
}

.left-card-profileCard {
  border-radius: 5px;
  background-color: #f7f7f7;
  height: 70px;
  border-bottom: 1px solid #dad2d2;
}

.left-card-ProfileIcon {
  margin-top: 20px;
  margin-left: 33%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.left-card-profileDes {
  margin-top: 20px;
}

.card-postedByName {
  font-size: 15px;
  margin-right: 0;
  margin-left: 0px;
  margin-bottom: 0;
}

.card-postedByDesignation {
  font-size: 13px;
  margin-right: 2px;
}

.card-postedByDept {
  font-size: 13px;
}

.Column {
  padding-right: 0;
  padding-left: 0.25rem;
}

.row-name {
  margin-left: 2px;
  margin-right: 2px;
}

.card-body {
  padding-top: 0;
}

/* .user-notice-drop-area {
  border: 2px dotted rgb(116, 116, 116);
} */

.user-notice-drop-area:hover {
  cursor: pointer;
}

.UserHome-custom-file-label {
  border: #6c63ff solid 1px;
  color: black;
}
.UserHome-custom-file-label:hover {
  border: orange dotted 1px;
  color: red;
}
.UserHome-modal-button {
  color: whitesmoke;
  border: #6c63ff solid 1px;
  background-color: #6c63ff;
  width: 50%;
  font: 150% bold;
}
.UserHome-modal-button:hover {
  color: whitesmoke;
  box-shadow: 7px 7px 7px rgba(0, 88, 139, 0.4);
  background-color: #6c63ff;
  transform: translateY(-2px);
}
.UserHome-example-input {
  border: none;
  color: black;
  height: 70px;
}
.UserHome-example-input:focus {
  border: none;
  outline-color: white;
  outline-width: 0 !important;
}

.UserHome-example-label {
  font: 150% bold;
}

.UserHome-TextBoxLikeButton {
  color: rgb(124, 124, 124);
  background-color: #e6e6e6;
  width: 100%;
  font: 100%;
  text-align: left;
  border-radius: 20px;
  height: 40px;
  padding-left: 15px;
}
.UserHome-TextBoxLikeButton:hover {
  cursor: text;
}
.UserHome-TextBoxLikeButton:focus {
  box-shadow: 0px 0px;
}
.notice-container {
  height: 55vh;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
  border: 1px solid rgb(167, 157, 157);
  border-radius: 5px;
}
.notice-container::-webkit-scrollbar {
  display: none;
}
.postLike,
.removeLike,
.postComment,
.postSave {
  cursor: pointer;
}

.postLike:hover{
  color: blue;
}
.removeLike:hover{
  color: #212529;
}

.removeLike{
  color: blue;
}
.commentContainer {
  margin-top: 10px;
}

.commentInputContainer {
  width: 100%;
}

.prevCommentContainer {
  background-color: #e6e6e6;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 10px;
}
.commentInput {
  border-radius: 15px;
  background-color: #e6e6e6;
  width: 100%;
  border: 1px solid #e6e6e6;
  resize: vertical;
  min-height: 50px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 150px;
  outline: none;
  /* display: inline-grid;
  vertical-align: top; */
  /* overflow: hidden; */
}
.CommentArrow{
  margin-top: 7px;
  position: absolute;
  background: #6c63ff;
  color: white;
  border: 0;
  vertical-align: middle;
}
.CommentArrow:after {
  content: "";
  position: absolute;
  border-bottom: 18px solid transparent;
  border-top: 18px solid transparent;
  border-left: 18px solid #6c63ff;
  margin-right: 10px;
  height: 0px;
  width: 0px;
  right: 0;
  transition : border 150ms ease-out; 
}
.CommentArrow:hover::after{
  border-left: 25px solid #124fc2;
}
/* .commentInput::-webkit-scrollbar {
  display: none;
} */

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 10px;
}

::-webkit-input-value {
  padding: 10px;
}
.CreateCardBold
{
  font: 120% bold;
}
.CreateCardSocial
{
  color: rgb(0, 170, 128) !important;
  border-top: 2px solid rgb(0, 170, 128) !important;
  border-left: 2px solid rgb(0, 170, 128) !important;
  border-right: 2px solid rgb(0, 170, 128) !important;
}
.CreateCardBold:hover
{
  color: black !important;
}
.CreateCardNoticeBoard
{
  color: rgb(255, 123, 0) !important;
  border-top: 2px solid rgb(255, 123, 0) !important;
  border-left: 2px solid rgb(255, 123, 0) !important;
  border-right: 2px solid rgb(255, 123, 0) !important;
}
#CreateCardIDdown.card-header
{
  border-bottom: 1px solid grey;
}