* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff !important;
}

/* rgb(206, 212, 218) */
input {
  box-shadow: none !important;
}

input:focus,
input:active {
  border-color: rgb(206, 212, 218) !important;
}
textarea {
  box-shadow: none !important;
}

button {
  box-shadow: none !important;
  border: none !important;
}
